/*   geral   */
:root {
    --bg: #FCAD1A;
    --black: #000000;
    --green: #00a950;
    --yellow: #fdd106;
    font-size: 10px
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    transition: 0.2s linear;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: var(--bg);
}

section {
    padding: 2rem 2rem;
    margin: 0 auto;
    max-width: 1200px;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    background: #00a950;
    border-bottom: 2px solid #00a950;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

.header section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.navbar a {
    font-family: "Georama", sans-serif;
    margin: 0 2rem;
    font-size: 2.3rem;
    color: #ffffff;
}

.navbar a:hover {
    color: #fdd106;
    text-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
    padding-bottom: 0.3rem;
}

.navbar .active {
    border-bottom: 2px solid #fdd106;
    margin-top: 0.6rem;
}

.game a {
    font-family: "Georama", sans-serif;
    font-size: 2.15rem;
    padding: 0.55rem 1.05rem;
    color: #00a950;
    background-color: #ffffff;
    border-radius: 10px;
}

.game a:hover {
    color: #fdd106;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.25);
}

.game .active {
    color: #eb4d48;
}

.game .active:hover {
    color: #fe8580;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.25);
}

.footer {
    z-index: 99;
    background: #fdd106;
    border: 2px solid #fdd106;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

.footer section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.navfooter p {
    font-family: "Georama", sans-serif;
    font-size: 1.65rem;
    color: #00a950;
    text-shadow: 5px 5px 15px rgba(0, 0, 0, 0.03);
    padding-top: 0.3rem;
}

.navfooter a, .navfooter img {
    margin: 0.4rem 0.6rem 0 0;
    cursor: pointer;
}

.rights {
    justify-items: center;
}

.rights p {
    color: #00a950;
    text-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
    font-size: 1.36rem;
    padding-top: 0.3rem;
}

.foot {
    margin-bottom: 5.2rem;
    margin-right: 16rem;
}

.foot img {
    position: absolute;
}

.btn-end {
    font-family: "Georama", sans-serif;
    background: #00a950;
    border: 1px solid #00a950;
    color: #ffffff;
    padding: 1rem 1rem;
    font-size: 2rem;
    cursor: pointer;
    width: 18rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem;
    display: block;
    border-radius: 10px;
    text-align: center;
}

.btn-end:hover {
    color: #fdd106;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

.title {
    color: #ffffff;
    margin-top: 16rem;
    padding-bottom: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title p {
    font-family: "Georama", sans-serif;
    font-size: 7.5rem;
    border-bottom: 5px solid #00a950;
    text-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
}
/*   geral   */



/*   home (index)   */
.btn-home {
    font-family: "Georama", sans-serif;
    background: #00a950;
    border: 1px solid #00a950;
    color: #ffffff;
    padding: 1rem 2rem;
    font-size: 2rem;
    cursor: pointer;
    margin-top: 1rem;
    display: inline-block;
    border-radius: 10px;
}

.btn-home:hover {
    color: #fdd106;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

.home-container {
    background: url("./img/bg.png");
    background-position: center;
    background-size: cover;
}

.home-container section {
    display: flex;
    align-items: center;
    min-height: 100vh;
}

.content {
    align-items: center;
    margin-right: 75rem;
    margin-top: 2.5rem;
}

.content p {
    color: #ffffff;
    text-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    font-size: 2rem;
    padding: 2rem 0;
}
/*   home (index)   */



/*   about   */
.about-container {
    margin-bottom: 6rem;
}

.about-container section {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}

.content-about1, .content-about2, .content-about3 {
    z-index: 1;
}

.content-about1, .content-about3 {
    padding-bottom: 3rem;
}

.content-about1 h2, .content-about2 h2, .content-about3 h2 {
    font-family: "Georama", sans-serif;
    text-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
    color: #ffffff;
    font-size: 6rem;
    border-bottom: 2px solid #00a950;
    padding: 1rem 2rem;
}

.content-about1 p, .content-about2 p, .content-about3 p {
    color: #ffffff;
    text-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    font-size: 1.8rem;
    padding-top: 2rem;
}

.content-about1 p {
    margin-right: 7rem;
}

.content-about2 p {
    margin-right: 12rem;
}

.content-about3 p {
    margin-right: 10rem;
}

.green-line-a {
    position: absolute;
    background-color: #00a950;
    border-bottom-left-radius: 18px;
    border-top-left-radius: 18px;
    padding: 10rem 30rem 10rem 5rem;
    margin-left: 80rem;
    z-index: 0;
}

.green-line-a p, .green-line-a h2 {
    visibility: hidden;
}

.image-a {
    z-index: 1;
    padding-top: 2rem;
}
/*   about   */



/*   muppets   */
.muppets-container {
    margin-bottom: 6rem;
    margin-top: 4rem;
}

.muppets-container section {
    display: flex;
    align-items: center;
    padding: 7rem 0;
}

.green-line-m {
    position: absolute;
    background-color: #00a950;
    border-bottom-left-radius: 18px;
    border-top-left-radius: 18px;
    padding: 11rem 100rem 11rem 5rem;
    margin-left: 13rem;
    z-index: 0;
}

.green-line-m p, .green-line-m h2 {
    visibility: hidden;
}

.content-muppets {
    z-index: 1;
    padding: 0 1rem 0 4rem;
}

.content-muppets h2 {
    font-family: "Georama", sans-serif;
    color: #ffffff;
    font-size: 6rem;
    padding-bottom: 1.2rem;
}

.content-muppets p {
    color: #ffffff;
    text-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    font-size: 2rem;
    font-weight: 100;
    line-height: 1.5;
}

.image-m {
    z-index: 1;
}

.image-m img {
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}
/*   muppets   */
 


/*   reviews   */
.reviews-container {
    margin-bottom: 6rem;
    margin-top: 4rem;
}

.r-content {
    display: flex;
    margin-top: 2rem;
    margin-top: 2rem;
}

.title-reviews {
    display: flex;
    margin-bottom: 2rem;
    padding-bottom: 2rem;
    border-bottom: 2px solid #00a950;
}

.title-reviews img {
    margin-left: 2rem;
}

.content-reviews {
    background-color: #ffac1d;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.15);
    border-left: 4px solid #00a950;
    padding: 2.2rem 2rem 1rem 2rem;
    z-index: 1;
}

.content-reviews h1 {
    font-family: "Georama", sans-serif;
    text-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
    color: #ffffff;
    font-size: 5rem;
    margin: 0 2rem;
}

.content-reviews h2 {
    font-family: "Georama", sans-serif;
    color: #00a950;
    font-size: 3.6rem;
}

.content-reviews p {
    color: #ffffff;
    text-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    font-size: 1.8rem;
}

.space {
    font-size: 1;
    visibility: hidden;
}

.poster {
    margin: 0 5rem 0 2.5rem;
    z-index: 1;
}

.green-line-r {
    position: absolute;
    background-color: #00a950;
    border-bottom-left-radius: 18px;
    border-top-left-radius: 18px;
    padding: 7rem 30rem 7rem 5rem;
    margin: 7.5rem 80rem 0 0;
    z-index: 0;
}

.green-line-r p, .green-line-r h2 {
    visibility: hidden;
}
/*   reviews   */



/*    play    */
.p-content {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4.5rem;  
}

.p-content img {
    margin-left: 10rem;
    padding-left: 8rem;
    margin-right: 3rem;
    z-index: 1;
}

.play-c {
    z-index: 1;
}

.p-content h2 {
    font-family: "Georama", sans-serif;
    color: #ffffff;
    text-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
    font-size: 5rem;
    padding-bottom: 1.5rem; 
    z-index: 1;
}

.p-content p {
    color: #ffffff;
    text-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    font-size: 1.8rem;
    margin-right: 26rem;
    z-index: 1;
}

.green-line-p1 {
    position: absolute;
    background-color: #00a950;
    border-radius: 18px;
    padding: 7.5rem 14rem 7.5rem 14rem;
    z-index: 0;
}

.green-line-p1 p, .green-line-p1 h2 {
    visibility: hidden;
}

.green-line-p2 {
    position: absolute;
    background-color: #00a950;
    border-bottom-left-radius: 18px;
    border-top-left-radius: 18px;
    padding: 4rem 11rem 4rem 5rem;
    margin-right: 7rem;
    z-index: 0;
}

.green-line-p2 p, .green-line-p2 h2 {
    visibility: hidden;
}

.content-play {
    width: 40rem;
    background-color: #ffac1d;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.15);
    border-left: 4px solid #00a950;
    padding: 2rem 2rem 2rem 2rem;
    margin-left: 5rem;
    z-index: 1;
}

.content-play h1 {
    font-family: "Georama", sans-serif;
    text-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
    color: #ffffff;
    font-size: 5rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid #00a950;
}

.content-play p {
    color: #ffffff;
    text-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    font-size: 1.8rem;
    padding: 1rem 0;
}

.btn-play {
    font-family: "Georama", sans-serif;
    background: #00a950;
    border: 1px solid #00a950;
    color: #ffffff;
    padding: 1rem 1.6rem;
    font-size: 1.6rem;
    cursor: pointer;
    display: inline-block;
    border-radius: 10px;
}

.btn-play:hover {
    color: #fdd106;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

.conj-slides {
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide {
    display: flex;
    margin: 3rem 2rem;
    align-items: center;
    justify-content: center;
}

.slide img {
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    z-index: 1;
}

.slider {
    margin: 5.5rem 0 7rem 0;
}
/*    play    */



/*    game    */
.game-content {
    margin: 13rem 5rem 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.game-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 7.5rem 0 12rem 5rem;
}

.game-container h1 {
    text-align: center;
    font-family: "Georama", sans-serif;
    text-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
    color: #ffffff;
    font-size: 5.2rem;
    padding-bottom: 1rem;
    border-bottom: 5px solid #00a950;
    margin-bottom: 2rem;
}

.playgame {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.playgame button{
    width: 140px;
    height: 140px;
    margin: 1.2rem;
    cursor: pointer;
    font-size: 8rem;
    color: #eb4d48;
    font-family: "Georama", sans-serif;
    background-color: #FCAD1A;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.15);
    border-radius: 18px;
}

.playgame button:hover {
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

.game-julia {
    margin: 0 9rem 8rem 3rem;
    z-index: 1;
}

.green-line-g1 {
    position: absolute;
    background-color: #00a950;
    border-bottom-right-radius: 18px;
    border-top-right-radius: 18px;
    padding: 9rem 30rem 9rem 30rem;
    margin: 0 90rem 22rem 0;
    z-index: 0;
}

.green-line-g1 p, .green-line-g1 h2 {
    visibility: hidden;
}

.green-line-g2 {
    position: absolute;
    background-color: #00a950;
    border-bottom-right-radius: 18px;
    border-top-right-radius: 18px;
    padding: 3rem 20rem 3rem 20rem;
    margin: 58rem 100rem 22rem 0;
    z-index: 0;
}

.green-line-g2 p, .green-line-g2 h2 {
    visibility: hidden;
}

.player {
    width: 50rem;
    
    background-color: #ffac1d;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.15);
    border-left: 4px solid #00a950;
    padding: 2rem 2rem 2rem 2rem;
}

.player h1 {
    font-family: "Georama", sans-serif;
    text-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
    color: #ffffff;
    font-size: 5rem;
    margin-top: 1rem;
}

.player p {
    color: #ffffff;
    text-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    font-size: 1.8rem;
    padding-bottom: 1.5rem;
    border-bottom: 2px solid #00a950;
}

.btn-game {
    display: flex;
    font-family: "Georama", sans-serif;
    background: #00a950;
    border: 1px solid #00a950;
    color: #ffffff;
    padding: 1rem 1rem;
    font-size: 2rem;
    cursor: pointer;
    width: 14rem;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 10px;
    text-align: center;
}

.btn-game:hover {
    color: #eb4d48;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}
/*    game    */